<h2 mat-dialog-title>{{ data ? 'Editar Héroe' : 'Agregar Héroe' }}</h2>
<mat-dialog-content>
  <form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Nombre" formControlName="name" appUpperCase>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="URL de la imagen" formControlName="image">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button color="primary" (click)="onSubmit()" [disabled]="heroForm.invalid">Guardar</button>
</mat-dialog-actions>